/****** Footer ***********/

.footer {
  display: flex;
  margin-top: 30px;
  padding: 10px 25px;
  background-color: var(--main-bg-color);
}

.footer-menu {
  margin-right: auto;
}

.footer-menu-title {
  font-size: 18px;
  font-weight: bold;
}

.footer-menu-list {
  list-style: none;
  padding-left: 0;
}

.footer-menu-list-item {
  margin-top: 15px;
}

.footer-menu-list-item a:link {
  text-decoration: none;
}

.footer-menu-list-item a:hover {
  color: var(--main-color);
}

.footer-menu-list-item a:focus {
  color: var(--main-color-darken-50);
}

/****** Media queries ***********/

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }

  .footer-menu {
    margin: 10px 0 0 10px;
  }

  .footer-menu:not(:first-child) {
    margin-top: 20px;
  }
}
